{% extends "base.html" %}

{% block content %}
    <a href="#">Main Blog Page </a>
    <a href="#">Add a Blog Entry</a>
    
    <h1>{{heading}}</h1>

    <form method="post">
    	<label>Title:
    		<br>
    		<input type="text" name="blog-title">
    	</label>
    	<p class="error">{{title_error}}</p>
    	<label>Blog Entry:
    		<br>
    		<textarea name="blog-body" cols="45" rows="10"></textarea>
    	</label>
    	<p class="error">{{body_error}}</p>
    	<input type="submit" value="Add Entry">
    </form>
    

{% endblock %}